<template>
    <div class="table-area">

        <div class="row">
            <div class="col-md-3">
                <el-input
                    v-model="name"
                    placeholder="Search patient by name"
                >
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
            </div>

            <div class="col-md-3">
                <el-select
                    style="width: 100%"
                    v-model="department_id"
                    placeholder="Filter by department"
                >
                    <el-option
                        v-for="dept in departments"
                        :key="dept.id"
                        :label="dept.name"
                        :value="dept.id">
                    </el-option>
                </el-select>
            </div>
        </div>

        <br>
        <br>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Patient Seen</th>
                    <th scope="col">Department</th>
                    <th scope="col">Medical Practitioner</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="treatment in treatments">
                    <td>{{ treatment.date }}</td>
                    <td>{{ treatment.name }}</td>
                    <td>{{ treatment.department }}</td>
                    <td>{{ treatment.user }}</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <div class="">
            <el-button-group>
                <el-button class="el-icon-arrow-left" size="small" @click="movePage('prev')"></el-button>
                <el-button size="small" disabled="">{{ page_state }}</el-button>
                <el-button class="el-icon-arrow-right" size="small" @click="movePage('next')"></el-button>
            </el-button-group>
        </div>
    </div>
</template>

<script>
    import TreatmentController from './controller';

    export default {

        props: ['token'],

        mixins: [ TreatmentController ],
    }
</script>
